.PastRecordsContainer
{
  width: 25vw;
  height: 97.5vh;
  background-color: #121212;
}

.DateStyle
{
  display: block;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-family: monospace;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.DateStyle:hover
{
  background-color: #1C1C1C;
}
