body{
  overflow: hidden;
}

.editor-container {
  margin-left: 20%;
  width: 100%;           
  margin: 0 auto;     
}

.quill
{
  width: 100%;
  display: flex;
  gap: 20px;
}

.ql-container
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  order: 1;
}

.ql-toolbar {
  display: flex;
  order: 2;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  border: none !important;
  background-color: #121212;
}

.ql-formats
{
  margin: 15px;
}

.ql-editor {
  color: white;
  background-color: #1C1C1C;
  margin-top: 1%;
  min-height: 96vh;  /* Ensure the editor content area has a minimum height */
  max-height: 96vh;  /* Set a maximum height if you want */
}

.ql-snow .ql-stroke {
  stroke: #5d5d5d;    /* Set the desired fill color for the bold SVG */
}

.ql-snow .ql-picker {
  color: #5d5d5d;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: #5d5d5d;
}

.ql-picker-item
{
  color: #000000;
}

.ql-container.ql-snow {
  border: 2px solid #121212;
  border-radius: 5px;
}


.ql-toolbar button svg, .ql-toolbar .ql-picker-label svg {
  width: 30px !important;   
  height: 30px !important;  
}

.ql-bold .ql-italic .ql-underline .ql-strike
{
  font-size: 1.5em;
}

.ql-snow.ql-toolbar button
{
  width: auto;
  height: auto;
}

.ql-snow .ql-color-picker, .ql-snow .ql-icon-picker {
  width: auto;
  height: auto;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter .ql-snow.ql-toolbar .ql-picker-label:hover{
    stroke: #4A90E2;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg 
{
  top: 35%;
  right: unset;
}

.ql-snow .ql-picker.ql-font {
    width: auto;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
}
.ql-snow .ql-picker.ql-size {
    width: auto;
    font-size: 20px;
    font-weight: bolder;
}

.ql-snow .ql-picker.ql-header {
  width: auto;
  font-size: 20px;
  font-weight: bolder;
}

.ql-picker-item {
    color: #5d5d5d;
    background-color: #121212;
}
.ql-snow .ql-picker-options
{
  border: none;
  background-color: #121212;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border: none;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border: none;
}

.ql-toolbar.ql-snow .ql-picker-options {
  box-shadow: none;
}